



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(-100deg, #3a1c71, #d76d77, #ffaf7b);
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    padding: 20px;
}

h1 {
    color: #231144; /* Cian Metálico */
    font-size: 3em;
    margin: 0;
}

h2 {
    color: #61498d; /* Cian Metálico */
    margin-bottom: 10px;
}

.game{
    margin: 0;
    font-size: 2rem;
    color: #fff;
}

.header{
    position: sticky;
    top: -10rem;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 1400px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    opacity: 0;

    
    animation: appear linear forwards;
    animation-timeline: scroll();
    animation-range: entry 10% 30%;
}

@keyframes appear{
    0%{
        top: 0;
        opacity: 0.5;
        scale: 0;
    }
    100%{
        top: 0;
        opacity: 1;
        scale: 1;
    }
}


.navbar{
    background-color: rgba(53, 91, 125, 0);
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding: 0 10%;
}

.navbar h1 {
    font-size: 30px;
    position: relative;
    color: #3a1c71; 
    margin: 0;
}

.navbar h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: -2;
    -webkit-text-stroke: 2px #d2d2d2;
    pointer-events: none;
}

.nav-list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-list li a {
    display: block;
    padding: 15px 20px;
    border-radius: 15px;
    border: 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-list li a:hover {
    background-color: #6724da59; 
    color: #fffffe; 
}


.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    
}

.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 0;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 30s linear infinite;
    z-index: 2;
}


@keyframes autoRun {
    from { transform:perspective(2300px) rotateX(-16deg) rotateY(0deg); }
    to { transform: perspective(2300px) rotateX(-16deg) rotateY(360deg); }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}

.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content-p{
    position: absolute;
    top:50;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: space-between; 
    align-items: flex-end; 
    padding: 0 50px; 
    z-index: 1;
    opacity: 0;
    animation: reveal-reverse linear forwards;
    animation-timeline: scroll();
    animation-range: entry 0% 30%;
}

@keyframes reveal-reverse{
    0%{
        top: 0;
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
    100%{
        top: 0;
        opacity: 0;
        scale: .2;
        transform: translateY(100px);
    }
}

.banner .content-p h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10em;
    line-height: 1em;
    color: #3a1c71;
    position: relative;
}

.banner .content-p h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}

.banner .content-p .info{
    font-family:Arial, Helvetica, sans-serif;
    text-align: right;
    max-width: 315px;
    z-index: 4;
}

.banner .content-p h2{
    color: #ffeb3b;;
    font-size: 2em;
}

.banner .content-p .model{
    background-image: url(imges/model3.png);
    width: 100%;
    height: 80vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 125%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}

/*sección de Top Games */
.top-games {
    padding: 40px;
    margin-top: 6rem;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

.top-games-t {
    padding: 40px;
    margin-top: 6rem;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.view-all-btn {
    background-color: #8977aa;
    color: #ffeb3b;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.games-container {
    background-color: rgba(224, 224, 224, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(112, 112, 112, 0.402);
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;    
    overflow: hidden;
}

.games-container-t {
    border-radius: 10px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;    
    overflow: hidden;
}

.game-item {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    border: none;
    padding: 10px;
    text-align: center;
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}

.game-item-t {
    position: relative;
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    border: none;
    padding: 10px;
    text-align: center;
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}



.game-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 15px;
    overflow: hidden;
}

.game-item-t img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 15px;
    overflow: hidden;
}


.genre {
    color: #5A7184;;
    font-size: 1em;
}

.game-title {
    color: #707070;
    font-size: 1.5rem;
    font-weight: bold;
}

.featured-games {
    padding: 40px;
    border-radius: 75px; 
    margin-top: 100px; 
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}

/* Estilo para la sección de Categories */
.categories {
    padding: 20px;
    text-align: center;
    margin-top: 300px;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
   
}

.categories h2 {
    font-size: 2rem;
    margin-bottom: 10px;
   
}

@keyframes reveal{
    from{
        opacity: 0;
        translate: 0 100px;
        scale: .8;
    }
    to{
        opacity:1;
        translate: 0 0;
        scale: 1;
    }
}

.categories h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.categories-container {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.category-item {
    padding: 10px;
    background-color: #4f414114;
    border-radius: 10px;
    text-align: center;
    flex: 1 1 calc(25% - 20px); 
    max-width: calc(25% - 20px);
    position: relative;
    overflow: hidden;
}

.category-name {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.category-item img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px; 
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.084);
    color: #8977aa;
    font-size: 0.9rem;
    position: relative;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.social-icons img {
    width: 100%;
    height: auto;
}

---------

.price-tag{
    position: absolute;
    top: 100px;
    right: 10px;
    background-color: #4d1b9f;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.filter-bar {
    display: flex;
    top:50px;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    padding: 10px 20px;
    margin-top: 100px;
    margin-bottom: -100px;
}

.filter-bar input,
.filter-bar select {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
}

/* Navbar */
.header-t {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 1400px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}


.navbar-t {
    background-color: rgba(53, 91, 125, 0);
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding: 0 10%;
}

.navbar-t h1 {
    font-size: 30px;
    position: relative;
    color: #3a1c71;
    margin: 0;
}

.navbar-t h1::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: -2;
    -webkit-text-stroke: 2px #d2d2d2;
    pointer-events: none;
}

.nav-list-t {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-list-t li a {
    display: block;
    padding: 15px 20px;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-list-t li a:hover {
    background-color: #6724da59; 
    color: #fffffe; 
}



.sign-in-btn {
    background-color: #ffaf7b; 
    color: #211229; 
    padding: 5px 15px; 
    border-radius: 10px; 
    font-weight: bold; 
    text-transform: uppercase; 
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none; 
    cursor: pointer; 
    line-height: 40px;
}

.sign-in-btn:hover {
    background-color: #ff440000; 
    color: #efefeb; 
}